<%= render 'form', product: @product %>

<div class="row margins justify-content-center"> 
	<%= link_to 'Back to Products', products_path, :class=> "btn btn-primary back col-sm-5"%>
	<%= link_to 'Showss', @product, :class=> "btn btn-primary edit col-sm-5" %> 
</div>
